<div class="center-align">
    <table class="main-contain">
        <tr class="bg-light-color">
            <td colspan="2">
                <table>
                    <tr>
                        <td><div class="font-bold font-blue font-underline-blue padding-t-15 padding-l-10 fake-link">Strategy & Consulting</div></td>
                    </tr>
                    <tr>
                        <td><div class="font-bold font-underline-blue padding-t-15 padding-l-10 fake-link">Artificial Intelligence</div></td>
                    </tr>
                    <tr>
                        <td class="font-bold font-size-48 padding-t-15 padding-l-10">Getting AI results by "going pro"</td>
                    </tr>
                    <tr>
                        <td class="font-bold font-size-12 padding-t-15 padding-l-10 padding-b-15">SEPTEMBER 24, 2020</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="width-70 align-v-top">
                <table class="width-100">
                    <tr>
                        <td>
                            <div class="width-95">
                                <table class="width-100 margin-10">
                                    <tr class="bg-light-color">
                                        <td class="font-bold padding-l-25 padding-y-20">
                                            SHARE
                                        </td>
                                        <td class="padding-x-5 padding-y-20">
                                            <img class="width-35px" src="./././assets/images/icons/l-icon.png" alt="linkedin" />
                                        </td>
                                        <td class="padding-x-5 padding-y-20">
                                            <img class="width-35px" src="./././assets/images/icons/t-icon.png" alt="twitter" />
                                        </td>
                                        <td class="padding-x-5 padding-y-20">
                                            <img class="width-35px" src="./././assets/images/icons/f-icon.png" alt="facebook" />
                                        </td>
                                        <td class="padding-x-5 padding-y-20">
                                            <img class="width-35px" src="./././assets/images/icons/m-icon.png" alt="mail" />
                                        </td>
                                        <td class="width-30"></td>
                                        <td class="align-right padding-x-25 padding-t-15">
                                            <button class="button-custom-style font-bold shadow-float-animation">VIEW SUMMARY</button>
                                        </td>
                                    </tr>
                                </table>
                                
                                <table class="width-100 margin-10">
                                    <tr>
                                        <td>
                                            <img class="width-100" src="./././assets/images/apj/cropped-kalam-quote-22.jpg" alt="some image" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="padding-y-10">
                                            <span class="font-size-48 font-bold">A</span>rtificial Intelligence (<span class="font-blue font-underline fake-link">AI</span>) is a high-stakes business priority, with companies spending $306 billion on AI applications in the past three years. Companies that scale AI across a business can achieve nearly triple the return from their investments. But too many companies aren’t achieving the value they expected.<sup>1</sup>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="padding-y-10">
                                            Scaling AI effectively for the long term will require the professionalization of the industry. Stakeholders—from practitioners to leaders across the private and public sector—must come together to distinguish clear roles and responsibilities for AI practitioners; demand the right level of education and training for said practitioners; define processes for developing, deploying and managing AI, and democratize AI literacy across the enterprise.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="padding-y-10">
                                            <iframe class="video-size" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="font-blue fake-link align-right padding-t-5 padding-b-25">
                                                View Transcript
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="padding-y-10">
                                            By formalizing AI as a trade with a shared set of norms and principles, companies will be poised to achieve more value from AI. They’ll be set up to create clear accountability which in turn helps avoid risks like bias, under delivering to clients, and other unintended consequences.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="padding-y-10">
                                            That’s why in professionalized fields such as medicine, construction and even food service, an inherent level of trust exists between customers and the businesses (or practitioners) that make up that industry. This trust is born out of standards that set expectations for everyone involved.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="padding-y-10">
                                            For example, you understand that architects, electricians and other construction professionals know how to build a house. They’ve had requisite training and understand their roles and responsibilities, safety standards and protocols to follow throughout the construction process. It’s unlikely that you’d trust a “citizen architect” to build your home in the same way that you wouldn’t visit a “citizen doctor” when you get sick.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="padding-y-10">
                                            <table>
                                                <tr>
                                                    <td class="background-purple" width="5px"></td>
                                                    <td class="padding-l-25 font-size-40">
                                                        By formalizing AI as a trade with a shared set of norms and principles, companies will be poised to achieve more value from AI.
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="padding-y-10">
                                            Yet increasingly, companies are bolstering their core data science teams with “citizen data scientists” (or, people who create models using predictive analytics but whose roles are outside of the data science field), without providing them with necessary guardrails and standards to enable success. Even among trained and credentialed data scientists, there are varying degrees of standards. Beyond needing formalized and standardized training, organizations may find that these practitioners are working in siloes and can’t deliver on the promise of AI. Real value can only be realized when trained AI practitioners are working hand in hand with the business to accomplish their organization’s goals, and those interdisciplinary teams are guided by standards, rules and processes.
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="width-30 align-v-top">
                <table class="width-100 no-padding no-margin">
                    <tr>
                        <td height="80px"></td>
                    </tr>
                    <tr class="bg-light-color">
                        <td>
                            <div class="height-60px">
                                <div class="profile-picture-holder">
                                    <img class="profile-picture" src="./././assets/images/apj/cropped-kalam-quote-22.jpg" alt="profile picture" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-light-color">
                        <td class="padding-x-15">
                            <h1>Fernando Lucini</h1>
                        </td>
                    </tr>
                    <tr class="bg-light-color">
                        <td class="padding-x-15">
                            GLOBAL LEAD DATA SCIENCE & ML ENGINEERING – APPLIED INTELLIGENCE
                        </td>
                    </tr>
                    <tr class="bg-light-color"><td>&nbsp;</td></tr>
                    <tr class="bg-light-color">
                        <td class="padding-x-15">
                            Follow me:
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img class="width-35px" src="./././assets/images/icons/l-icon.png" alt="linkedin" />
                            &nbsp;&nbsp;&nbsp;
                            <img class="width-35px" src="./././assets/images/icons/t-icon.png" alt="twitter" />
                        </td>
                    </tr>
                    <tr class="bg-light-color"><td>&nbsp;</td></tr>
                </table>
                <br/>
                <table class="width-100 no-padding no-margin">
                    <tr>
                        <td colspan="2">MORE ON THIS TOPIC</td>
                    </tr>
                    <tr>
                        <td class="padding-15">
                            <img width="100" height="100" src="./././assets/images/apj/cropped-kalam-quote-22.jpg" alt="profile picture" />
                        </td>
                        <td class="align-v-top padding-y-10 width-100">
                            <div class="font-underline-blue fake-link">
                                Competitive Agility
                            </div>
                            <div class="font-bold fake-link">
                                AI: Built to scale
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <td class="padding-15">
                            <img width="100" height="100" src="./././assets/images/apj/cropped-kalam-quote-23.jpg" alt="profile picture" />
                        </td>
                        <td class="align-v-top padding-y-10 width-100">
                            <div class="font-underline-blue fake-link">
                                Applied Intelligence
                            </div>
                            <div class="font-bold fake-link">
                                Disrupting traditional industries with quantum computing
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                    <tr>
                        <td class="padding-15">
                            <img width="100" height="100" src="./././assets/images/apj/cropped-kalam-quote-25.jpg" alt="profile picture" />
                        </td>
                        <td class="align-v-top padding-y-10 width-100">
                            <div class="font-underline-blue fake-link">
                                Artificial Intelligence
                            </div>
                            <div class="font-bold fake-link">
                                Responsible AI: From principles to practice
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr/></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>