<section class="container py-3">
    <div class="row">
        <div class="col text-center">
            <h1>First</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label">Input 1:</label>
            <input type="text" class="form-control" [(ngModel)]="inputValue1">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="form-label">Input 2:</label>
            <input type="text" class="form-control" [(ngModel)]="inputValue2">
        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="onSubmitToSecond()">Sent To Second</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>From Second</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Input 1: {{fromSecond.inputValue1}}</p>
            <p>Input 2: {{fromSecond.inputValue2}}</p>
        </div>
    </div>
</section>